#Por extensión:
*.class


#nombres de archivos:
private.xml
private.properties
/Aprendiendo/Ejercicios_Objetos_Básicos/nbproject/private/
/Aprendiendo/Ejercicios_Objetos_Básicos/build/
/Aprendiendo/MiniJuegos/nbproject/private/