#Por extensión:
*.class


#nombres de archivos:
private.xml
private.properties
/Aprendiendo/Ejercicios_Objetos_Básicos/nbproject/private/
/Aprendiendo/Ejercicios_Objetos_Básicos/build/
/Aprendiendo/MiniJuegos/nbproject/private/
/Aprendiendo/Cadenas/nbproject/private/
/Aprendiendo/Cadenas/dist/
/Aprendiendo/Cadenas/build/
/Aprendiendo/Clase_String/nbproject/private/
/Aprendiendo/Clase_String/build/
/Aprendiendo/Wrappers/nbproject/private/
/Aprendiendo/Wrappers/build/
/Aprendiendo/Listas/nbproject/private/
/Aprendiendo/Listas/build/